body{
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/*semua yang ada di body akan mengikuti style di atas*/

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

/*Header*/

header{
    background: #000000;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffffff 3px solid;
}

header a{
    color: #ffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0px 20px 0px 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highligh, header .current a{
    color: #3c8bf3;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background: url(./showcase.jpg) 0 -400PX;
    text-align: center;
    color: #ffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

#newslatter{
    padding: 15px;
    color: #ffff;
    background: #000000;
}

#newslatter h1{
    float: left;
}

#newslatter form{
    float: right;
    margin-top: 15px;
}

#newslatter input [type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

.button_1{
    height: 38px;
    background: #3c8bf3;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffff;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

footer{
    padding: 20px;
    margin-top:20px;
    color: #ffff;
    background-color: #3c8bf3;
    text-align: center;
}

aside #sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

article #main-col{
    float: left;
    width: 65%;
}

.dark{
    padding: 10px;
    background: #35424a;
    color: #ffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul #services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

aside #sidebar .quote input,aside #sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/*media query untuk pengaturanweb responsive*/
@media(max-width:768px){
header #branding,
header nav,
header nav li,
#newslatter h1,
#newslatter form,
#boxes .box,
article #main-col,
aside #sidebar{
    float: none;
    text-align: center;
    width:100%;
}
header{
    padding-bottom: 20px;
}

#showcase h1{
    margin-top: 40px;
}

#newslatter button, .quote button{
    display: block;
    width: 100%;
}

#newslatter form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
}
}